<div class="row mb-1 mr-0 custom-border">

  <!--Details article-->
  <div class="col-md-3  border-right mb-1 mt-1" >
    <div class="row text-center">
      <div class="col-md-11">12.12.2012</div>
    </div>
  </div>

  <!--Details catégorie-->


  <div class="col-md-3 border-right">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Attijari Bank</h4>
      </div>
    </div>
  </div>

  <div class="col-md-3 border-right">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Sortie</h4>
      </div>
    </div>
  </div>


  <!--Boutons d'action-->
  <div class="col-md-3 mb-1 mt1">
    <div class="row text-center">
        <h4>Flen el fleni</h4>
    </div>
  </div>
</div>
