<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 border-right p-1 text-center">
    <img src="assets/images/Cheque1.png" width='100px;' alt="cheque_logo">
  </div>

  <!--Details article-->
  <div class="col-md-5  border-right mb-1 mt-1" >
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Prénom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-11">(+216) 92 665 955</div>
      </div>
    </div>
  </div>

  <!--Details catégorie-->


  <div class="col-md-3 border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Prénom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-11">(+216) 92 665 955</div>
      </div>
    </div>
  </div>


  <!--Boutons d'action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fab fa-stack-overflow blue-color"></i>&nbsp;Correction du transfer
        </button>
      </div>
    </div>
  </div>
</div>
