<div class="row mb-1 mr-0 custom-border"  *ngFor="let cheque of cheques | async">
  <div class="col-md-1 border-right p-1 text-center">
    <img src="assets/images/Cheque1.png" width='100px;' alt="cheque_logo">
  </div>

   <!--Details article-->
  <div class="col-md-5 border-right mb-1 mt-1" >
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-pencil blue-color"></i></div>
        <div class="col-md-11">Numéro chèque: {{cheque.numcheque}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">RIB-Titulaire du chèque: {{cheque.rib}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-bank blue-color"></i></div>
        <div class="col-md-11">Banque: {{cheque.banque}}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-calendar blue-color"></i></div>
        <div class="col-md-11">Date: {{cheque.date}}</div>
      </div>
    </div>
  </div>

  <!--Details catégorie-->


  <div class="col-md-3 border-right">
    <div class="row">
      <div class="col-md-2">
        <i class="fas fa-dollar-sign blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Montant: {{cheque.montant}}</div>
        </div>
      </div>
    </div>
  </div>


  <!--Boutons d'action-->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">
        <button type="button" (click)="updateCheque(cheque.id)" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" (click)="deleteCheque(cheque.id)" class="btn btn-link">
          <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" (click)="chequeDetails(cheque.id)" class="btn btn-link">
          <i class="fas fa-list-alt"></i>&nbsp;Details
        </button>
      </div>
    </div>
  </div>
</div>
