<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 border-right p-1 text-center">
    <img src="assets/images/Cheque1.png" width='100px;' alt="cheque_logo">
  </div>

  <!--Details article-->
  <div class="col-md-5  border-right mb-1 mt-1" >
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Code article</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Designation</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">Prix HT</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">Prix TTC</div>
      </div>
    </div>
  </div>

  <!--Details catégorie-->


  <div class="col-md-3 border-right">
    <div class="row">
      <div class="col-md-2">
        <i class="fab fa-dropbox blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <h2>Stock actuel</h2>
          </div>
          <div class="col-md-12">
            <h2>139</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Boutons d'action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fab fa-stack-overflow blue-color"></i>&nbsp;Correction du transfer
        </button>
      </div>
    </div>
  </div>
</div>

<!--MODAL-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Correction du transfer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="Quantite">
          </div>
          <div class="form-group" class="form-control">
              <select>
                <option>Correction positive</option>
                <option>Correction négative</option>
              </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Enregistrer</button>
      </div>
    </div>
  </div>
</div>
