
<div class="about-section-banner">
  <p>Cheque cashing & Plateform</p>
  <i class="fa fa-bank fa-lg"></i>
  <p>Cheque cashing & Plateform</p>
  <i class="fa fa-bank fa-lg"></i>
  <p>Cheque cashing & Plateform</p>
  <i class="fa fa-bank fa-lg"></i>
  <p>Cheque cashing & Plateform</p>
  <i class="fa fa-bank fa-lg"></i>
  <p>Cheque cashing & Plateform</p>
  <i class="fa fa-bank fa-lg"></i>
  <p>Cheque cashing & Plateform</p>
</div>

<div class="about-section">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" >
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets\images\241285790_3295493580677452_4354117825348335544_n.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Ahmed Rekik</h2>
        <p>2nd year student at ENSI specializing in Artificial Intelligence.</p>
        <p>ahmed.rekik@ensi-uma.tn</p>
        <p><button type="button" class="btn btn-warning button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets\images\241624429_4428349000562720_5530380254534486233_n (3).jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mohamed Rhimi</h2>
        <p>2nd year student at ENSI specializing in Internet of Things & Networks.</p>
        <p>mohamed.rhimi@ensi-uma.tn</p>
        <p><button type="button" class="btn btn-warning button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets\images\241662190_4315499691890983_3163594389873127614_n.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Marwan Ghouma</h2>
        <p>2nd year student at ENSI specializing in Finance.</p>
        <p>marwan.ghouma@ensi-uma.tn</p>
        <p><button type="button" class="btn btn-warning button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
