<!--<div class="banks">
  <div class="bank">
    <mat-card>
      <p>BNA</p>
      <p>$<strong>450.00</strong></p>
      <img src="https://upload.wikimedia.org/wikipedia/fr/1/18/Logo_BNA.jpg" alt="BNA">
      <button type="button" class="btn btn-danger" >Read more</button>
    </mat-card>
  </div>
</div>-->


<app-banner></app-banner>

<div class="about-section">
  <h1><strong>About Us</strong></h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
