<div class="col">
  <div class="row  m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des clients</h1>
    </div>
    <div class="col-md-4 text-right">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-warning">
            <i class="fas fa-cloud-arrow-up"></i>&nbsp;Importer</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success">
            <i class="fas fa-cloud-arrow-down"></i>&nbsp;Exporter</button>
        </div>
        <div class="col-md-4">
          <a routerLink="/profile/nouvelarticle"><button type="button" class="btn btn-primary">
            <i class="fas fa-plus"></i>&nbsp;Nouveau</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col m-3">
    <app-detail-clien></app-detail-clien>
    <app-detail-clien></app-detail-clien>
    <app-detail-clien></app-detail-clien>
    <app-detail-clien></app-detail-clien>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
